<div *ngIf="produto">

  <h2>{{produto.descricao | uppercase}} Details</h2>
  <div><label>Nome: <input [(ngModel)]="produto.nome" placeholder="Nome" /></label></div>
  <div><label>Categoria: <input [(ngModel)]="produto.categoria" placeholder="Categoria" /></label></div>
  <div><label>Preco: <input [(ngModel)]="produto.preco" placeholder="Preco" /></label></div>
  <div><label>Altura: <input [(ngModel)]="produto.altura" placeholder="Altura" /></label></div>
  <div><label>Altura Maxima: <input [(ngModel)]="produto.alturaMax" placeholder="Altura Maxima" /></label></div>
  <div><label>Altura Minima: <input [(ngModel)]="produto.alturaMin" placeholder="Altura Minima" /></label></div>
  <div><label>Largura: <input [(ngModel)]="produto.largura" placeholder="Largura" /></label></div>
  <div><label>Largura Maxima: <input [(ngModel)]="produto.larguraMax" placeholder="Largura Maxima" /></label></div>
  <div><label>Largura Minima: <input [(ngModel)]="produto.larguraMin" placeholder="Largura Minima" /></label></div>
  <div><label>Profundidade: <input [(ngModel)]="produto.profundidade" placeholder="Profundidade" /></label></div>
  <div><label>Profundidade Maxima: <input [(ngModel)]="produto.profundidadeMax" placeholder="Profundidade Maxima" /></label></div>
  <div><label>Profundidade Minima: <input [(ngModel)]="produto.profundidadeMin" placeholder="Profundidade Minima" /></label></div>
  <div><label>Taxa de Ocupacao Maxima: <input [(ngModel)]="produto.maxTaxaOcupacao" placeholder="Taxa de Ocupacao Maxima" /></label></div>
  <div><label>Taxa de Ocupacao Atual: <input [(ngModel)]="produto.taxaOcupacaoAtual" placeholder="Taxa de Ocupacao Atual" /></label></div>
  <div><label>Restringir Materiais: <input [(ngModel)]="produto.restrigirMateriais" placeholder="Restringir Materiais" /></label></div>
  <div><label>Materiais e Acabamentos ( "X com acabamentos de Ys" separados por ponto e virgula): <input [(ngModel)]="produto.materiaisAcabamentos" placeholder="Materiais e Acabamentos" /></label></div>
  <div><label>Partes Opcionais ( separadas por ponto e virgula): <input [(ngModel)]="produto.opcional" placeholder="Partes Opcionais" /></label></div>
  <div><label>Partes Obrigatorias ( separadas por ponto e virgula): <input [(ngModel)]="produto.obrigatoria" placeholder="Partes Obrigatorias" /></label></div>
  <button routerLink="/produtoPartes/{{produto.id}}">Partes Details</button>
  <button (click)="deletePartes()">Delete Parts</button>
  <button (click)="deleteDimensoes()">Delete Dimensions</button>
  <button (click)="save()">save</button>
  <button (click)="goBack()">go back</button>
</div>
