<h1>List of all the Products</h1>

<ng-container>
    <div class="cards">
        <div *ngFor="let product of products">
            <mat-card class="card">
                <mat-card-header class="card-header">
                </mat-card-header>
                <mat-card-content class="card-body">
                    <a routerLink="/UserProduct/{{product.productId}}">
                        <div class="card-title">{{product.name}}</div>
                    </a>
                    <div class="card-desc">{{product.description}}</div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</ng-container>
<div class="endButtons">
    <button (click)="goBack()">Go Back</button>
</div>