<h1>Custom Catalog Creator Page</h1>
<h2>Create your Catalog</h2>

<ng-container *ngIf="!(this.isVisible)">
  <h2>Step 1 : Customize your Catalog</h2>
  <h3>Basic Information</h3>
  <div>
    <h3>Name:</h3>
    <textarea [(ngModel)]="name" placeholder="name"></textarea>
  </div>

  <div>
    <h3>Description:</h3>
    <textarea [(ngModel)]="description" placeholder="description"></textarea>
  </div>

  <div class="endButtons">
    <div>
      <button mat-button (click)="saveFirstStage()">Save First Stage Catalog</button>
    </div>
  </div>
</ng-container>

<label></label>

<ng-container *ngIf="this.isVisible">
  <h2>Step 2 : Add Products</h2>
  <h3>List of available Products</h3>
  <div class="cards">
    <div *ngFor="let product of products">
      <mat-card class="card">
        <mat-card-header class="card-header">
        </mat-card-header>
        <mat-card-content class="card-body">
          <a routerLink="/Product/{{product.productId}}">
            <div class="card-title">{{product.name}}
            </div>
          </a>
          <div class="card-desc">{{product.description}}</div>
        </mat-card-content>
        <mat-card-actions class="mat-card-actions">
          <button mat-button class="mat-button" title="add product" (click)="addProductToList(product);displayAddProduct()">Add</button>
          <button mat-button class="mat-button" title="del product" (click)="removeProductFromList(product);displayRemProduct()">Remove</button>
        </mat-card-actions>
      </mat-card>
  </div>
  </div>
  <div>
    <button mat-button (click)="save()">Save Catalog</button>
  </div>
</ng-container>

<div class="endButtons">
  <div>
    <button mat-button (click)="reset()">Reset</button>
  </div>
  <div>
    <button mat-button (click)="goBack()">Go Back</button>
  </div>
</div>