<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<ul class="progressbar">
  <li class="active">Parent Product</li>
  <li class="active">Add Sub-items</li>
  <li class="active">Success</li>
</ul><br><br><br>

<div class="container">

  <div>
      <div class="title">
          <div class="isa_info">
            <span><b>Success:</b></span> the order has been successfully created!
          </div>
          <p><button class="button" (click)="finish()"><span>Finish</span></button></p>
        </div>
      
        <hr>

        <!-- parent -->
        <div>
          <h4>{{product.prod_name}}</h4>
          <p>Description: {{product.prod_desc}}</p>
          <p>Price: {{product.prod_price}}</p>
          <p>Material: {{product.prod_materials.material_name}}</p>
          <p>Finish: {{product.prod_materials.material_finishes.finish_name}}</p>
          <p>Height: {{product.prod_height}}</p>
          <p>Width: {{product.prod_width}}</p>
          <p>Depth: {{product.prod_depth}}</p>
        </div>
      
        <hr>
      
        <!-- children -->
        <div *ngIf="children || children !== []">
          <div *ngFor="let prod of children">
            <div class="asd">
              <h4>{{prod.prod_name}}</h4>
              <p>Description: {{prod.prod_desc}}</p>
              <p>Price: {{prod.prod_price}}</p>
              <p>Material: {{prod.prod_materials[0].material_name}}</p>
              <p>Finish: {{prod.prod_materials[0].material_finishes[0].finish_name}}</p>
              <p>Height: {{prod.prod_height}}</p>
              <p>Width: {{prod.prod_width}}</p>
              <p>Depth: {{prod.prod_depth}}</p>
            </div>
            <hr>
          </div>
        </div>
  </div>


</div>