<div *ngIf="order">

  <h2>Order Details</h2>
  <div><label>Client Name: <label>{{order.name}}</label></label></div>
  <div><label>Date: <label>{{order.date}}</label></label></div>
  <div><label>Address: <label>{{order.address}}</label></label></div>
  <div><label>Cost: <label>{{order.cost}}</label></label></div>

  <h3>Status</h3>
  <select name="status" [(ngModel)]="selectedStatus">
    <option value="submetida" selected>Submitted</option>
    <option value="validada">Validated</option>
    <option value="atribuida">Attributed</option>
    <option value="producao">Assigned</option>
    <option value="embalamento">In packaging</option>
    <option value="prontaExpedir">Ready to ship</option>
    <option value="expedida">Issued</option>
    <option value="entregue">Delivered</option>
    <option value="rececionada">Received</option>
  </select>

  <h3>Products</h3>
  <ul class="consultorder">
    <li *ngFor="let item of itens">
      <a routerLink="/ConsultOrderDM/{{order.orderId}}/itens/{{item.nome}}">
        <span class="badge">.</span> {{item.nome}}
      </a>
    </li>
  </ul>

  <div>
    <button (click)="save()">Save Changes</button>
    &nbsp;
    <button (click)="goBack()">go back</button>
  </div>
</div>