<h3>Dashboard</h3>
<hr><br>


<div ng-app="app-dashboard" class="main">
  <h2>Featured Products</h2>
    <div class="row">
      <a *ngFor="let product of products">
        <div class="column">
          <div class="content">
            <img src="../../../assets/product.png" alt="Product" style="width:100%">
            <h3> {{product.prod_name | uppercase}} </h3>
            <p> {{product.prod_desc}} </p>
            <button routerLink="/product/{{product.prod_dotnetid}}">Read More</button>
          </div>
        </div>
      </a>
    </div>