<div *ngIf="item">

  <h2>Item Product Details</h2>
  <div><label>Name: <input [(ngModel)]="item.nome" placeholder="Name" /></label></div>
  <div><label>Cost: <input [(ngModel)]="item.custo" placeholder="Cost" /></label></div>
  <div><label>Category: <input [(ngModel)]="item.categoria" placeholder="Category" /></label></div>
  <div><label>Heigth: <input [(ngModel)]="item.altura" placeholder="Heigth" /></label></div>
  <div><label>Width: <input [(ngModel)]="item.largura" placeholder="Width" /></label></div>
  <div><label>Depth: <input [(ngModel)]="item.profundidade" placeholder="Depth" /></label></div>
  <div><label>Materials Finishes: <input [(ngModel)]="item.materiaisAcabamentos" placeholder="Materials Finishes" /></label></div>
  <div><label>Opcional Parts: <input [(ngModel)]="item.partesOpcionais" placeholder="Opcional Parts" /></label></div>
  <div><label>Required Parts: <input [(ngModel)]="item.partesObrigatorias" placeholder="Required Parts" /></label></div>

  <button (click)="save()">save</button>
  <button (click)="goBack()">go back</button>

</div>