<div *ngIf="itemProduct">

  <h2>{{itemProduct.name | uppercase}} Details</h2>
  <div>
    <div><span>Name : </span>{{itemProduct.name}}</div>
    <p></p>
    <div><span>Category : </span>{{itemProduct.category}}</div>
    <p></p>
    <div><span>Product : </span>{{product.name}}</div>
    <p></p>
    <div><span>Cost : </span>{{itemProduct.cost}}</div>
    <p></p>
  </div>
  <div>
    <label>Length:
      <input [(ngModel)]="itemProduct.length" placeholder="length" />
    </label>
  </div>
  <div>
    <label>Height:
      <input [(ngModel)]="itemProduct.height" placeholder="height" />
    </label>
  </div>
  <div>
    <label>Width:
      <input [(ngModel)]="itemProduct.width" placeholder="width" />
    </label>
  </div>
</div>
<div>
  <label>Material:
    <input [(ngModel)]="material.name" placeholder="material" />
  </label>
</div>

<div>
  <h3>List of composing items</h3>
  <ul class="item_list">
    <li *ngFor="let item of itemProduct.item_list">
      <div>
        <div><span>Name : </span>{{item.name}}</div>
        <p></p>
        <div><span>Category : </span>{{item.category}}</div>
        <p></p>
        <div><span>Cost : </span>{{item.cost}}</div>
        <p></p>
      </div>
      <div>
        <label>Length:
          <input [(ngModel)]="item.length" placeholder="length" />
        </label>
      </div>
      <div>
        <label>Height:
          <input [(ngModel)]="item.height" placeholder="height" />
        </label>
      </div>
      <div>
        <label>Width:
          <input [(ngModel)]="item.width" placeholder="width" />
        </label>
      </div>
    </li>
  </ul>
</div>

<div>
  <button (click)="goBack()">Go Back</button>
</div>