<div *ngIf="categoria">

  <h2>{{categoria.descricao | uppercase}} Details</h2>
  <div>
    <label>Descricao:
      <input [(ngModel)]="categoria.descricao" placeholder="descricao" />
    </label><br />
    <label>Super Categoria:
      <input [(ngModel)]="categoria.superCategoria" placeholder="superCategoria" />
    </label><br />
    <label>Sub Categoria (separadas por virgula):
      <input [(ngModel)]="categoria.subCategorias" placeholder="subCategorias" />
    </label><br />
  </div>
  <button (click)="save()">save</button>
  <button (click)="goBack()">go back</button>
</div>