<h2>Partes</h2>
<ul class="partes">
  <li *ngFor="let parte of partes">
    <h3>{{parte.descricao | uppercase}} Details</h3>
    <div><span>Nome: </span>{{parte.nome}}</div>
    <div><span>Categoria: </span> {{parte.categoria}} </div>
    <div><span>Preco: </span>{{parte.preco}}</div>
    <div><span>Altura: </span> {{parte.altura}}</div>
    <div><span>Altura Maxima: </span>{{parte.alturaMax}}</div>
    <div><span>Altura Minima: </span>{{parte.alturaMin}}</div>
    <div><span>Largura: </span>{{parte.largura}}</div>
    <div><span>Largura Maxima: </span>{{parte.larguraMax}}</div>
    <div><span>Largura Minima: </span>{{parte.larguraMin}}</div>
    <div><span>Profundidade: </span>{{parte.profundidade}}</div>
    <div><span>Profundidade Maxima: </span>{{parte.profundidadeMax}}</div>
    <div><span>Profundidade Minima: </span>{{parte.profundidadeMin}}</div>
    <div><span>Taxa de Ocupacao Maxima: </span>{{parte.maxTaxaOcupacao}}</div>
    <div><span>Taxa de Ocupacao Atual: </span>{{parte.taxaOcupacaoAtual}}</div>
    <div><span>Restringir Materiais: </span>{{parte.restrigirMateriais}}</div>
    <div><span>Materiais e Acabamentos: </span>{{parte.materiaisAcabamentos}}</div>
    <div><span>Partes Opcionais: </span>{{parte.opcional}}</div>
    <div><span>Partes Obrigatorias: </span>{{parte.obrigatoria}}</div>
  </li>
</ul>
<div>
  <button (click)="goBack()">go back</button>
</div>