<div *ngIf="material">
  <h1>{{material.name | uppercase}} Details</h1>

  <h2>Basic Informations</h2>

  <div>
    <h3>Name:</h3>
    <input [(ngModel)]="material.name" placeholder="name" />
  </div>

  <div>
    <h3>Description:</h3>
    <textarea [(ngModel)]="material.description"></textarea>
  </div>

  <div>
    <button (click)="reset()">Reset basic informations</button>
    &nbsp;
    <button (click)="save()">Save basic informations</button>
  </div>

  <h3>Finishings (Press x to remove finishing from material)</h3>

  <ul class="finishings">
    <li *ngFor="let finishing of material.finishes">
      <a routerLink="/Finishing/{{finishing.finishingId}}">
        <span class="badge"></span> {{finishing.name}}
      </a>
      <button class="delete" title="delete" (click)="delFin(finishing.finishingId)">x</button>
    </li>
  </ul>

  <h3>Add a Finishing</h3>
  <select name="finishing" [(ngModel)]="selectedFinishing">
      <option *ngFor="let finishing of finishings" value={{finishing.finishingId}}>{{finishing.name}}: {{finishing.description}}</option>
  </select>
  <button (click)="addFin()">Add Finishing</button>


  <h3>Prices (Press x to remove price from material history)</h3>

  <ul class="finishings">
    <li *ngFor="let price of prices">
      <a routerLink="/Price/{{price.priceId}}">
        <span class="badge"></span> {{price.price}} applied in {{price.dateTime}}
      </a>
      <button class="delete" title="delete" (click)="delPrice(price.priceId)">x</button>
    </li>
  </ul>

  <h3>Add a Price</h3>
  
  <div>
    <h3>Value:</h3>
    <input [(ngModel)]="value" placeholder="Value for new price" />
  </div>
  
  <div>
    <h3>Date:</h3>
    <input [(ngModel)]="date" placeholder="Date to apply new price" />
  </div>

  <button (click)="addPrice()">Add Price</button>

  <div>
    <button (click)="goBack()">Go Back</button>
  </div>
</div>