<h3>Register</h3>
<hr><br>

<form action="/action_page.php">
    <div class="imgcontainer">
        <img src="../../../assets/avatar.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
        <label for="fsn"><b>First Name</b></label>
        <input [(ngModel)]="user.firstname" type="text" placeholder="Enter First Name" name="fsn" required>

        <label for="lsn"><b>Last Name</b></label>
        <input [(ngModel)]="user.lastname" type="text" placeholder="Enter Last Name" name="lsn" required>

        <label for="email"><b>Email</b></label>
        <input [(ngModel)]="user.email" type="text" placeholder="Enter Email" name="email" required>

        <label for="psw"><b>Password</b></label>
        <input [(ngModel)]="user.password" type="password" placeholder="Enter Password" name="psw" required>

        <button (click)="register()" type="submit">Register Account</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
        <button type="button" (click)="goBack()" class="cancelbtn">Cancel</button>
    </div>
</form>