<h3>Add Item Produto</h3>
<div>
  <label>Name:
    <input #Nome />
  </label><br />
  <label>Heigth:
    <input #Altura />
  </label><br />
  <label>Width:
    <input #Largura />
  </label><br />
  <label>Depth:
    <input #Profundidade />
  </label><br />
  <label>Materials e Finishes (X com acabamentos de Y;....):
    <input #MateriaisAcabamentos />
  </label><br />
  <label>Parts (X,Y...):
    <input #Partes />
  </label><br />

  <h3>
    <div><label>Final price: <label>{{order.cost}}</label></label></div>
  </h3>

  <button (click)="add(Nome.value,Altura.value,Largura.value,Profundidade.value,MateriaisAcabamentos.value,Partes.value);
  Nome.value=''; Altura.value='';Largura.value='';Profundidade.value='';MateriaisAcabamentos.value='';Partes.value='';">
    Add
  </button>
  <button (click)="done()">Done</button>
</div>