<h2>Encomenda</h2>
<h3>Create</h3>
<div>
  <label>Name:
    <input #CriarencomendaName />
  </label><br />
  <label>Date (DD/MM/AA) :
    <input #CriarencomendaDate />
  </label><br />
  <label>Address :
    <input #CriarencomendaAddress />
  </label><br />
  <button (click)="add(CriarencomendaName.value, CriarencomendaDate.value, 
    CriarencomendaAddress.value); CriarencomendaName.value=''; CriarencomendaDate.value=''; 
    CriarencomendaAddress.value='';">
    Create Details
  </button>
  <button (click)="goBack()">Go Back</button>
</div>