* {
  box-sizing: border-box;
}

.cards {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.card {
  background-color: rgb(247, 245, 245);
  height: 400px;
  width: 300px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  transition: all 0.5s ease;
  font-weight: 100;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
}

.card-header {
  height: 180px;
  background-image: url("//placehold.it/350x250/78c5d6/fff/image1.jpg");
  background-size: cover;
  background-position: center center;
}

.card-header.ch2 {
  background-image: url("//placehold.it/350x250/459ba8/fff/image2.jpg");
}

.card-header.ch3 {
  background-image: url("//placehold.it/350x250/79c267/fff/image3.jpg");
}

.card-header.ch4 {
  background-image: url("//placehold.it/350x250/c5d647/fff/image4.jpg");
}

.card-header.ch5 {
  background-image: url("//placehold.it/350x250/f28c33/fff/image5.jpg");
}

.card-header.ch6 {
  background-image: url("//placehold.it/350x250/e868a2/fff/image6.jpg");
}

.card-body {
  padding: 15px 15px 5px 15px;
  color: rgb(219, 219, 219);
  height: 140px;
}

.card-title {
  font-size: 1.4em;
  margin-bottom: 5px;
}

.card-sub-title {
  color: #808080;
  font-size: 1em;
  margin-bottom: 15px;
}

.card-desc {
  font-size: 0.90rem;
  line-height: 17px;
}

.endButtons {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.mat-button {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  min-width: 64px;
  line-height: 36px;
  border-radius: 4px;
  overflow: visible;
}

.mat-button:hover {
  background: rgb(139, 183, 209);
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
}

.mat-card-actions {
  margin-left: -8px;
  margin-bottom: -8px;
  padding-top: 0px;
}
