<h1>List of all the Catalogs</h1>


<div class="cards">
  <div *ngFor="let catalog of catalogs">
    <mat-card class="card">
      <mat-card-header class="card-header">
      </mat-card-header>
      <mat-card-content class="card-body">
        <a routerLink="/Catalog/{{catalog.catalogId}}">
          <div class="card-title">{{catalog.catalogName}}
          </div>
        </a>
        <div class="card-desc">{{catalog.catalogDescription}}
        </div>
      </mat-card-content>
      <mat-card-actions class="mat-card-actions">
        <button mat-button class="mat-button" title="delete catalog" (click)="delete(catalog)">Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div>
  <a routerLink="/CatalogCreator">
    <button>Create Custom Catalog</button>
  </a>
</div>

<div>
  <button (click)="goBack()">Go Back</button>
</div>