<h2>Acabamento</h2>
<h3>Create </h3>
<div>
  <label>Descrição:
    <input #AcabamentoDescricao />
  </label>
  <button (click)="add(AcabamentoDescricao.value); AcabamentoDescricao.value=''">
    add
  </button>
</div>
<h3>List</h3>
<ul class="acabamentos">
  <li *ngFor="let acabamento of acabamentos">
    <a routerLink="/acabamento/{{acabamento.id}}">
      <span class="badge">.</span> {{acabamento.descricao}}
    </a>
    <button class="delete" title="delete acabamento" (click)="delete(acabamento)">x</button>
  </li>
</ul>