<h1> Collections </h1>

<div class="cards">
  <div *ngFor="let collection of collections">
    <mat-card class="card">
      <mat-card-header class="card-header">
      </mat-card-header>
      <mat-card-content class="card-body">
        <a routerLink="/UserCollection/{{collection.collectionId}}">
          <div class="card-title">{{collection.collectionName}}</div>
        </a>
        <div class="card-sub-title">{{collection.aestheticParameter}}</div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div>
  <button (click)="goBack()">Go Back</button>
</div>
