<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<ul class="progressbar">
  <li class="active">Main Product</li>
  <li class="active">Add Components</li>
  <li>Confirm Order</li>
</ul><br><br><br>

<ng-container *ngIf="(catalog !== undefined) || 
            (product !== undefined) ||
            (components !== undefined)">

  <div class="container">

    <!-- agreggate button div-->
    <div class="agreggate-div">
      <div class="isa_info">
        <span><b>Warning:</b></span> Changes made after this are irreversible!
      </div>
      <p>
        <button class="button" (click)="removeComponents()"><i class="fa fa-trash"></i> Delete components</button>
        <button class="button" (click)="createOrder()" style="float: right"><i class="fa fa-check"></i> Finalize order</button>
      </p>

    </div>

    <hr>

    <div class="container-2">
      <!-- components left block div -->
      <div class="col">
        <h3 align="center">Manage a component</h3>
        <p *ngFor="let product of components">
          <button class="button" (click)="setCurrentProduct(product)">{{product.prod_name}}</button>
        </p>
      </div>

      <!-- catalog center block div -->
      <div class="col">
        <div class="catalog">
          <h3 align="center">Add product</h3>
          <p *ngFor="let product of catalog">
            <button class="button" (click)="addProduct(product)">+ {{product.prod_name}}</button>
          </p>
        </div>
      </div>

      <!-- product right tab content -->
      <div class="col">
        <h3 align="center">Current product</h3>
        <div class="card" *ngIf="current_product">
          <img src="../../../assets/product.png" alt="Product" style="width:30%">
          <h4>{{current_product.prod_name}}</h4>
          <p>{{current_product.prod_desc}}</p>
          <p class="price">{{current_product.prod_price}}</p>
          <p>Material: {{current_product.prod_materials[0].material_name}}</p>
          <p>Finish: {{current_product.prod_materials[0].material_finishes[0].finish_name}}</p>
          <p>Height: {{current_product.prod_height}}</p>
          <p>Width: {{current_product.prod_width}}</p>
          <p>Depth: {{current_product.prod_depth}}</p>
          <p><button (click)="editProduct(current_product)">Edit Product</button></p>
          <p><button (click)="removeProductFromAgreggate(current_product)">Remove</button></p>
        </div>
        <div class="card" *ngIf="!current_product">You have to select a product</div>
      </div>

    </div>

  </div>
</ng-container>