<h1>List of all the Factories</h1>
<h2>Chose a factory to see the shortest path</h2>
<div *ngIf="factories">
  <ul class="factories">
    <li *ngFor="let factory of factories">
      <a (click)="calculation(factory)">
        <span class="badge"></span> {{factory.description}}
      </a>
    </li>
  </ul>
</div>

<div *ngIf="cities">
  <h1>Path for the factory {{factory.description}}</h1>
  <ul class="factories">
    <li *ngFor="let city of cities">
      <a>
        <span class="badge"></span> {{city.name}}
      </a>
    </li>
  </ul>
</div>