/* PriceDetailComponent's private CSS styles */
  label {
    display: inline-block;
    width: 100%;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
  }
  
  textarea {
    width: 100%;
    height: 150px;
    padding: .4em;
    box-sizing: border-box;
    border: 2px solid #607D8B;
    font-family: Arial;
    font-size: 1em;
    border-radius: 4px;
    background-color: #ffffff;
    resize: none;
  }
  
  input {
    height: 2em;
    padding: .4em;
    box-sizing: border-box;
    border: 2px solid #607D8B;
    font-family: Arial;
    font-size: 1em;
    border-radius: 4px;
    background-color: #ffffff;
  }
  
  button {
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
  }
  
  button:hover {
    background-color: #cfd8dc;
  }
  
  button.delete {
    position: relative;
    left: 194px;
    top: -60px;
    background-color: gray !important;
    color: white;
  }
  
  select {
    width: 100%;
    resize: vertical;
    height: 2em;
    padding: .4em;
    box-sizing: border-box;
    border: 2px solid #607D8B;
    font-family: Arial;
    font-size: 1em;
    border-radius: 4px;
    background-color: #ffffff;
  }
  
  .endButtons {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
  }
  
  textarea {
    width: 100%;
    height: 150px;
    padding: .4em;
    box-sizing: border-box;
    border: 2px solid #607D8B;
    font-family: Arial;
    font-size: 1em;
    border-radius: 4px;
    background-color: #ffffff;
    resize: none;
  }
  