<h3>Login</h3>
<hr><br>

<form action="/action_page.php">
  <div class="imgcontainer">
    <img src="../../../assets/avatar.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <div *ngIf="loggedIn === 'false'; else show_message">

      <label for="email"><b>Email</b></label>
      <input [(ngModel)]="user.email" type="text" placeholder="Enter Email" name="email" required>
      
      <label for="psw"><b>Password</b></label>
    <input [(ngModel)]="user.password" type="password" placeholder="Enter Password" name="psw" required>
    
    <button (click)="login()" type="submit">Login</button>
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" (click)="goBack()" class="cancelbtn">Cancel</button>
    </div>
  </div>
  
  </div>
  <ng-template #show_message>
    <p>You are already logged in.</p>
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" (click)="logout()" class="cancelbtn">Logout</button>
    </div>
  </ng-template>
</form>
