<ul class="progressbar">
  <li class="active">Main Product</li>
  <li>Add Components</li>
  <li>Confirm Order</li>
  <li>Success!</li>
</ul><br><br>


<div *ngIf="(discreteHeight !== undefined) || 
            (discreteDepth !== undefined) ||
            (discreteWidth !== undefined) ||
            (selectedHeight !== undefined) ||
            (selectedDepth !== undefined) ||
            (selectedWidth !== undefined) ||
            (selectedMaterial !== undefined)||
            (selectedFinish !== undefined)||
            (product !== undefined)">



  <div class="container">




    <form action="/action_page.php">
      <div class="row">
        <div class="col-25">
          <label for="HeightLabel">Height</label>
        </div>
        <div class="col-75">
          <div *ngIf="!discreteHeight; else disable_height_input">
            <input [(ngModel)]="selectedHeight" type="number" name="prod_height" [(value)]="selectedHeight"
              (ngModelChange)="setHeight(selectedHeight);validateForms()" value="{{product.prod_height}}" required>
            <div *ngIf="!validHeight">
              <div class="isa_warning">
                {{heightError}}
              </div>
            </div>
          </div>
          <ng-template #disable_height_input>
            <input [(ngModel)]="selectedHeight" type="number" name="prod_height" [(value)]="selectedHeight"
              (ngModelChange)="setHeight(selectedHeight);validateForms()" value="{{product.prod_height}}" required
              disabled>
            <div class="isa_info">
              The value of a discrete measurement cannot be changed.
            </div>
          </ng-template>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="WidthLabel">Width</label>
        </div>
        <div class="col-75">
          <div *ngIf="!discreteWidth; else disable_width_input">
            <input [(ngModel)]="selectedWidth" type="number" name="prod_width" [(value)]="selectedWidth"
              (ngModelChange)="setWidth(selectedWidth);validateForms()" value="{{product.prod_width}}" required>
            <div *ngIf="!validWidth">
              <div class="isa_warning">
                {{widthError}}
              </div>
            </div>
          </div>
          <ng-template #disable_width_input>
            <input [(ngModel)]="selectedWidth" type="number" name="prod_width" [(value)]="selectedWidth"
              (ngModelChange)="setWidth(selectedWidth);validateForms()" value="{{product.prod_width}}" required
              disabled>
            <div class="isa_info">
              The value of a discrete measurement cannot be changed.
            </div>
          </ng-template>
        </div>
      </div>


      <div class="row">
        <div class="col-25">
          <label for="Depth">Depth</label>
        </div>
        <div class="col-75">
          <div *ngIf="!discreteDepth; else disable_depth_input">
            <input [(ngModel)]="selectedDepth" type="number" name="prod_depth" [(value)]="selectedDepth"
              (ngModelChange)="setDepth(selectedDepth);validateForms()" value="{{product.prod_depth}}" required>
            <div *ngIf="!validDepth">
              <div class="isa_warning">
                {{depthError}}
              </div>
            </div>
          </div>
          <ng-template #disable_depth_input>
            <input [(ngModel)]="selectedDepth" type="number" name="prod_depth" [(value)]="selectedDepth"
              (ngModelChange)="setDepth(selectedDepth);validateForms()" value="{{product.prod_depth}}" required
              disabled>
            <div class="isa_info">
              The value of a discrete measurement cannot be changed.
            </div>
          </ng-template>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="Material">Material</label>
        </div>
        <div class="col-75">
          <select (change)="setMaterial($event.target.value);validateForms()" name="material" [(ngModel)]="selectedMaterial">
            <option *ngFor="let material of product.prod_materials" value={{material.material_name}}>{{material.material_name}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="Finish">Finish</label>
        </div>
        <div class="col-75">
          <select (change)="setFinish($event.target.value);validateForms()" name="finish" [(ngModel)]="selectedFinish" [value]="selectedFinish">
            <option *ngFor="let finish of finishes" value={{finish}}>{{finish}}</option>
          </select>
        </div>
      </div>

      <br>
      <br>

      <div class="row">
        <div *ngIf="validForm; else disable_button">
          <button class="button" style="vertical-align:middle" (click)="nextStep()"><span>Proceed
              to Item Selection </span></button>
        </div>
        <ng-template #disable_button>
          <button class="button" style="vertical-align:middle" disabled>Proceed to Item Selection</button>
        </ng-template>
      </div>
    </form>
  </div>
</div>