<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="divide-in-columns">
    <h3>Catalog</h3> 
    <br><button class="add-new" routerLink="/create-product/"><i class="fa fa-plus"></i> Create New Product</button>
</div>
<hr><br>



<div class="grid grid-pad">

    <div class="sidenav" style="width:20%">
        <h3 class="bar-title">Filter</h3>

        <h4>Name</h4>
        <div class="namefilter">
            <form action="/action_page.php">
              <p><input type="text" [(ngModel)]="name_filter" name="name_filter" placeholder="Product name..."></p>
            </form>
        </div>

        <!--<h4>Categories</h4>
        
        <p *ngFor="let category of categories">
          <label class="container">
              {{category.name}}
              <input
              type="checkbox"
              name="categories[]"
              value="{{category.name}}">
              <span class="checkmark"></span>
          </label>
        </p>-->

        <h4>Price</h4>

        <ng5-slider class="slider" [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
       
        <p><button class="filterbutton" (click)="resfreshFilter()"><span>Apply Filter</span></button></p>
    </div>

    <!-- Page Content -->
    <div style="margin-left:20%">

    <div class="main">
        <a *ngFor="let product of products" class="col-1-4">
            <div class="card" routerLink="/product/{{product.id}}">
              <img src="../../../assets/product.png" alt="Product" style="width:100%">
              <h4>{{product.prod_name}}</h4>
              <p class="price">{{product.prod_price}}</p>
              <p>{{product.prod_desc}}</p>
              <p><button routerLink="/product/{{product.prod_dotnetid}}">View Product</button></p>
            </div>
          </a>
    </div>

</div>

