<h3>Create Produto</h3>
<div>
  <label>Name:
    <input #Name />
  </label><br />
  <label>Categoria:
    <input #Categoria />
  </label><br />
  <label>Preço:
    <input #Preco />
  </label><br />
  <label>Altura:
    <input #Altura />
  </label><br />
  <label>Altura Máxima:
    <input #AlturaMax />
  </label><br />
  <label>Altura Minima:
    <input #AlturaMin />
  </label><br />
  <label>Largura:
    <input #Largura />
  </label><br />
  <label>Largurab Máxima:
    <input #LarguraMax />
  </label><br />
  <label>Largura Minima:
    <input #LarguraMin />
  </label><br />
  <label>Profundidade:
    <input #Profundidade />
  </label><br />
  <label>Profundidade Máxima:
    <input #ProfundidadeMax />
  </label><br />
  <label>Profundidade Minima:
    <input #ProfundidadeMin />
  </label><br />
  <label>Taxa de Ocupacao Maxima:
    <input #MaxTaxaOcupacao />
  </label><br />
  <label>Restringir Materiais:
    <input #RestrigirMateriais />
  </label><br />
  <label>Materiais e Acabamentos ( "X com acabamentos de Ys" separados por ponto e virgula):
    <input #MateriaisAcabamentos />
  </label><br />
  <label>Partes Opcionais (separadas por virgula):
    <input #Opcional />
  </label><br />
  <label>Partes Obrigatorias (separadas por virgula):
    <input #Obrigatoria />
  </label><br />
  <button (click)="add(Name.value,Categoria.value,Preco.value,Altura.value,AlturaMax.value,AlturaMin.value,
  Largura.value,LarguraMax.value,LarguraMin.value,Profundidade.value,ProfundidadeMax.value,ProfundidadeMin.value,
  MaxTaxaOcupacao.value,RestrigirMateriais.value,MateriaisAcabamentos.value,Opcional.value,Obrigatoria.value);
  Name.value=''; Categoria.value='';Preco.value='';Altura.value='';AlturaMax.value='';
  AlturaMin.value='';Largura.value='';LarguraMax.value='';LarguraMin.value='';Profundidade.value='';
  ProfundidadeMax.value='';ProfundidadeMin.value='';MaxTaxaOcupacao.value='';
  RestrigirMateriais.value='';MateriaisAcabamentos.value='';Opcional.value='';Obrigatoria.value='';">
    add
  </button>
  <button (click)="goBack()">go back</button>
</div>